<style>
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    font-size: 20px;
  }
</style>
<div class="footer">
  <div class="container footer-container h-100">
    <div class="col">
      <div class="row justify-content-center footer-content">
        <div class="col">
          <p class="footer-title">PARTSKU.ID</p>
          <ul>
            <li>Terms of Service</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="col">
          <p class="footer-title">FEATURES</p>
          <ul>
            <li>Part Finder</li>
            <li>Customer Service</li>
          </ul>
        </div>
        <div class="col">
          <p class="footer-title">SUPPORT</p>
          <ul>
            <li>Help Center</li>
            <li>Submit a Ticket</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="col">
          <p class="footer-title">WE ACCEPT</p>
          <img class="we-accept" src="https://res.cloudinary.com/partsku/image/upload/v1623410523/partsku/Group_107_mbspye.png">
        </div>
      </div>
      <div class="row ">
        <div class="col" style="color: white;">
          <img src="https://res.cloudinary.com/partsku/image/upload/v1623418713/partsku/Logo-white_vd9rcu.png">
          <p>Tangerang Selatan, 15413</p>
          <p>INDONESIA</p>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>