/* header */
.top-header-console {

}

.header-logo {
  padding: 20px !important;
}

/* .header-user-console-outer {
  display: table;
  margin: 0 auto;
} */

.header-user-console {
	/* list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; */
  display: inline-flex;
  margin: 0;
}

.header-user-console li {
  height: 37px;
}

.top-consoles {
  color: #000;
  width: auto;
  margin: 0 10px;
  /* display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none; */
}

.top-consoles:hover {
  color: #384170;
}

.top-consoles-wishlist:hover {
  color: magenta;
}

.header-logout {
  cursor: pointer;
}

.loggedin-name {
  padding-top: 6px;
}

.header-username {
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 10px;
  /* width: 6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip; */
}

.header-pp {
  border-radius: 50%;
}

.header-seperator {
  background-color: #707070;
  opacity: 10%;
  height: 2px;
}

.bottom-header-console {
  height: 50px;
}
.bot-consoles {
  text-align: center;
  padding: 12px;
  transition: 0.3s;
}

.bot-consoles:hover {
  color: white;
  text-decoration: none;
  background-color: #384170;
  opacity: 90%;
}

/* footer */
.footer {
  background-image: url('https://res.cloudinary.com/partsku/image/upload/v1623327025/partsku/footer_bg_yp7x3r.png');
  background-repeat: no-repeat;
  background-color: #F7F8FF;
  height: 600px;
}

.footer-title {
  font-size: 23px;
  font-weight: bold;
}

.footer-container {
  color: white;
  padding-top: 12vw;
  padding-bottom: 1vw;
}

.we-accept {

}

/* landing page */
.landing-bg {
  background-image: url('https://res.cloudinary.com/partsku/image/upload/v1623064936/partsku/landing-bg_wgnw2q.png');
  background-position-y: -171px;
  background-color: #F7F8FF;
  background-repeat: no-repeat;
  height: 1410px;
}

.main-island {
  color: white;
  padding-left: 6.5vw;
  padding-top: 13vw;
}

.buy-cp {
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 0;
}

.full-control {
  font-size: 23px;
  opacity: 80%;
}

.search-landing {
  padding-top: 10px;
}

.landing-search-box{
  background-color: #384170;
  color: white;
  width: 395px;
  height: 46.23px;
  border-width: 0;
  border-radius: 6px;
  padding: 15px;
}

.landing-search-box::placeholder {
  color: white;
}

.landing-search-btn {
  background-color: #8C9EFC;
  color: white;
  width: 143px;
  height: 46.23px;
  margin-left: 10px;
  border-width: 0;
  border-radius: 6px;
}

.recommended-island {
  text-align: center;
  top: -11vw;
}

.landing-head-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.landing-subtitle {
  font-size: 16px;
  opacity: 80%;
  padding-bottom: 10px;
}

.brand-list-img {
  width: 22%;
}

.explore-landing-btn {
  width: 261px;
  height: 67px;
  border-color: #707070;
  border-radius: 6px;
  transition: 0.3s;
}

.explore-landing-btn:hover {
  color: white;
  background-color: #384170;
  opacity: 90%;
}

.new-item-div {
  background-image: url('https://res.cloudinary.com/partsku/image/upload/v1623237326/partsku/Rectangle_625_hygzyc.png');
  background-repeat: no-repeat;
  background-position-x: -20vw;
}

.new-item-island {
  text-align: center;
  height: 1127px;
  padding-top: 6vw;
}

.item-card {
  background-color: #F7F8FF;
}

.top-new-item {
  margin-bottom: 54px;
}

.left-item-card {
  width: 255px;
  height: 313px;
  border-radius: 11px;
  margin-right: 7px;
  box-shadow: -6px 6px 20px #2d2d2d2b;
}

.right-item-card {
  width: 540px;
  height: 680px;
  border-radius: 11px;
  box-shadow: -6px 6px 20px #2d2d2d2b;
}

.new-product-img-right {
  width: 471px;
  height: 461px;
}

.abt-us-island {
  text-align: center;
  height: 870px;
}

.abt-us-maintitle {
  font-size: 23px;
  font-weight: bold;
}

.abt-us-subtitle {
  font-size: 23px;
  opacity: 80%;
}

.abt-us-container {
  padding-top: 5vw;
}

.three-boxes {
  padding-bottom: 40px;
}

.about-us-txt {
  text-align: left;
}

/* login / register page */
.main-bg {
  padding-left: 0 !important;
  background-image: url('https://res.cloudinary.com/partsku/image/upload/c_scale/partsku/login-bg_rnbqjk.png');
  background-position: -222px;
  height: 50.45vw;
  background-color: grey;
}

.login-back-btn {
  cursor: pointer;
  padding: 20px;
  width: 50px;
}

.main-bg-img {
  width: 100%;
  padding-left: 0 !important;
}

.side-container-login {
  padding-top: 32%;
}

.side-container-register {
  padding-top: 22%;
}

.login-logo {
  padding-bottom: 5%;
}

.login-nav {
  margin-bottom: 2%;
  text-align: center;
}

.login-nav-btn {
  width: 126px;
  font-size: 24px;
  font-weight: bold;
  color:#73A1C2;
  margin: 0 38px;
  padding-bottom: 5px;
  cursor: pointer;
}

.active-login-nav-btn {
  cursor: default;
  color:#384170;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: #384170;
}

.href-register {
  color:#73A1C2;
}

.href-register:hover {
  color:#384170;
  text-decoration: none;
}

.email-group-container, .submit-btn-box {
  padding-top: 1.5%;
}

.pass-group-container {
  padding-top: 1.5%;
}

.input-name {
  height: 60px;
  width: 400px;
  padding-left: 15px;
  border-color: #384170;
  border-radius: 4px;
  margin-bottom: 1.5%;
}

.input-email, .input-pass, .submit-btn {
  height: 60px;
  width: 400px;
}

.input-email, .input-pass {
  padding-left: 15px;
  border-color: #384170;
  border-radius: 4px;
}

.pass-icon {
  padding: 0;
  z-index: 10;
  border: none;
  position: relative;
  background: 0 0;
}

.checkbox-register {
  margin-top: 1.5%;
}

.tnc-text {
  font-size: 16px;
  margin-top: 0.8%;
  padding-left: 5px;
}

.submit-btn {
  font-size: 20;
  color: white;
  background-color: #384170;
  border-radius: 4px;
}

.forgot-pass {
  padding-top: 1%;
}

/* register seller */
.sreg-title {
  font-size: 24px;
  font-weight: bold;
  color: #384170;
  padding-bottom: 1.5rem;
}

.sreg-container {
  padding-top: 14vh;
}

.sreg-main-container {
  width: 100%;
}

.sreg-input-titles {
  font-size: 20px;
  font-weight: bold;
  color: #384170;
  display: block;
  padding-left: 15px;
}

.sreg-subtitles {
  font-size: 14px;
  font-style: italic;
  color: #384170;
  padding: 15px 0 1vw 15px;
}

.left-sreg-container {
  height: 100%;
}

.sreg-input-box, .sreg-address-box {
  display: block;
  width: 400px;
  border-color: #384170;
  border-radius: 6px;
  border-width: thin;
  border-style: solid;
  padding: 15px;
  font-size: 18px;
}

.sreg-address-box {
  height: 184px;
}

.seller-tnc-container {
  padding-top: 1.5vw;
  color: #73A1C2;
}

.sreg-btn-div {
  padding-top: 35px;
}

.sreg-btn:hover {
  color: white;
  background-color: #596292;
}

/* user / seller profile */
.profile-container {
  background-color: #F7F8FF;
  height: 85.6vh;
  overflow: auto;
}

.profcard-container {
  width: 336px;
  border-radius: 6px;
  border-width: thin;
  border-style: solid;
  background-color: white;
  text-align: center;
}

.top-profcard-container {
  height: 390px;
}

.profcard-pp {
  padding-bottom: 15px;
  border-radius: 50%;
}

.profcard-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profcard-email {
  font-size: 14px;
  opacity: 80%;
}

/* catalogs */
.catalog-bg {
  background-color: #F7F8FF;
  box-shadow: 0px 20px 20px #2d2d2d2b inset;
}

.search-result {
  padding-top: 42px;
  padding-bottom: 20px;
  display: inline-flex;
}

.search-info {
  font-size: 16px;
  font-weight: bold;
  padding: 7px 7px 7px 15px;
  margin: 0;
}

.search-query {
  color: #FF4F04;
}

.filter-row {
  background-color: white;
  border-radius: 6px;
}

.sort-btn {
  width: 101px;
  background-color: #F7F8FF;
  border-radius: 6px;
  font-size: 14px;
  margin: 15px 0 15px;
}

.sort-btn:hover {
  background-color: #FF4F04;
  color: white
}

.price-sort {
  width: 204px;
  height: 35px;
  background-color: #F7F8FF;
  border-radius: 10px;
  border-style: none;
  font-size: 14px;
  padding-left: 10px;
  margin: 15px 0 15px;
}

/* product card */
.product-card-component {
  text-align: -webkit-center;
}

.product-card-container {
  /* width: 25%; */
  margin-top: 20px;
  margin-bottom: 10px;
  height: 350px;
  background-color: white;
  border-radius: 10px;  
}

.pcard-img-container {

}

.product-card-sku {
  font-size: 12px;
  font-family: roboto;
  color: #111111;
  padding: 8px 10px 0 0;
  float: right;
}

.product-card-img {
  
}

.product-card-info {
  padding-top: 15px;
}

.product-card-info p, .p-detail-stars{
  padding-left: 25px !important;
  padding-right: 25px;
}

.product-card-name {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.product-card-price {
  font-size: 15px;
  font-weight: bold;
  color: #FF4F04;
}

/* pagination */
.pagination-container {
  padding-top: 30px;
}

.pagination {
  margin: 0;
}

/* product detail */
.product-detail-container {
  padding-top: 76px;
}

.shop-info-box {
  height: 150px;
  background-color: white;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  border-color: #384170;
  padding: 23.6px;
}

.left-shop-info {
  border-right: 1px solid #384170;
}

.shop-info-pp {
  
}

.shop-info-name {
  font-size: 19px;
  font-weight: bold;
}

.shop-stat-box {
  padding-top: 15px;
}

.visit-shop-btn {
  width: 30vh;
  background-color: #E81D1D;
  color: white;
  border-radius: 2px;
}

.visit-shop-btn:hover {
  color: #E81D1D;
  background-color: white;
  border-color: #E81D1D;
  border-width: thin;
}

.shop-info-stat {
  font-size: 15px;
}

.shop-info-stat-val {
  color: #E81D1D;
  font-weight: bold;
}

.product-detail-top {
  padding-top: 40px;
}

.p-detail-main-img, .p-detail-sub-img {
  background-color: white;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  border-color: #384170;
}

.p-detail-sub-row {
  padding-top: 20px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.p-detail-sub-img {
  padding: 0 10px;
}

.p-detail-sub-img img {
  width: 100%;
}

.p-detail-sub-row .col-md-3 {
  padding-right: 5px;
  padding-left: 5px;
}

.p-detail-top-right {
  padding-left: 40px;
}

.main-product-name {
  font-size: 28px;
  font-family: montserrat;
  font-weight: bold;
}

.p-detail-rating {
  color: #E81D1D;
}

.p-detail-stars {
  display: inline;
  padding-left: 10px;
}

.p-detail-stars i {
  color: #E81D1D;
  font-size: 20px;
}

.p-detail-rating, .p-detail-rates, .p-detail-sold {
  font-family: roboto;
  font-size: 20px;
}

.p-detail-rates {
  border-left: 1px solid #384170;
  border-right: 1px solid #384170;
}

.p-detail-sold {

}

.main-product-price {
  font-size: 45px;
  font-family: montserrat;
  font-weight: bold;
  color: #E81D1D;
  padding-top: 20px;
  padding-bottom: 155px;
}

.main-product-sku {
  font-size: 18px;
  font-family: roboto;
  padding-bottom: 11px;
}

.main-product-quantity {
  font-size: 20px;
  font-family: roboto;
  font-weight: 500;
  padding: 5px 40px 5px 0;
  margin: 0;
}

.quantity-btn, .quantity-input-box {
  font-size: 20px;
  font-family: roboto;
  font-weight: 500;
  background-color: white;
  border-radius: 0;
  border-color: #7b7b7b;
  border-width: thin;
  border-style: solid;
}

.quantity-input-box {
  width: 84px;
}

.main-product-stock {
  font-size: 20px;
  font-family: roboto;
  padding: 5px 0 5px 40px;
  margin: 0;
}

.transaction-btn-div {
  padding-top: 57px;
}

.add-to-cart-btn, .buy-now-btn {
  font-size: 20px;
  font-weight: 500;
  width: 245px;
  height: 60px;
}

.add-to-cart-btn {
  background-color: white;
  color: #E81D1D;
  border-radius: 2px;
  border-color: #E81D1D;
  border-style: solid;
  border-width: 2px;
  margin-right: 25px;
}

.add-to-cart-btn:hover {
  background-color: #E81D1D;
  color: white;
}

.buy-now-btn {
  background-color: #E81D1D;
  color: white;
  border-radius: 2px;
}

.buy-now-btn:hover {
  background-color: white;
  color: #E81D1D;
  border-radius: 2px;
  border-color: #E81D1D;
  border-style: solid;
  border-width: 2px;
}

.product-detail-bottom {

}

.product-decription-container {
  margin-top: 50px;
  border-radius: 10px;
  border-color: #384170;
  border-width: thin;
  border-style: solid;
}

.description-title {
  padding: 25px 0 10px 30px;
  color: #302F2F;
  font-size: 19px;
  font-weight: 600;
  font-family: montserrat;
}

.spec-list {
  color: #302F2F;
  font-size: 15px;
  font-family: Roboto;
  padding: 0 0 0 30px;
  
}

.spec-value {
  color: #302F2F;
  font-size: 17px;
  font-family: Roboto;
}

.description-content {
  padding: 0 0 30px 30px;
  color: #302F2F;
  font-size: 17px;
  font-family: Roboto;
}