/* header */
.top-header-console {

}

.header-logo {
  padding: 20px !important;
}

.header-user-console {
  padding-left: 11%;
}

.top-consoles {
  color: #000;
}

.top-consoles:hover {
  color: #384170;
}

.top-consoles-wishlist:hover {
  color: magenta;
}

.header-seperator {
  background-color: #707070;
  opacity: 10%;
  height: 2px;
}

.bottom-header-console {
  height: 50px;
}
.bot-consoles {
  text-align: center;
  padding: 12px;
  transition: 0.3s;
}

.bot-consoles:hover {
  color: white;
  background-color: #384170;
  opacity: 90%;
}

/* landing page */
.landing-bg {
  background-image: url('https://res.cloudinary.com/partsku/image/upload/v1623064936/partsku/landing-bg_wgnw2q.png');
  background-position-y: -171px;
  background-color: #F7F8FF;
  background-repeat: no-repeat;
  height: 1410px;
}

.main-island {
  color: white;
  padding-left: 6.5vw;
  padding-top: 13vw;
}

.buy-cp {
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 0;
}

.full-control {
  font-size: 23px;
  opacity: 80%;
}

.search-landing {
  padding-top: 10px;
}

.landing-search-box{
  background-color: #384170;
  color: white;
  width: 395px;
  height: 46.23px;
  border-width: 0;
  border-radius: 6px;
  padding: 15px;
}

.landing-search-box::placeholder {
  color: white;
}

.landing-search-btn {
  background-color: #8C9EFC;
  color: white;
  width: 143px;
  height: 46.23px;
  margin-left: 10px;
  border-width: 0;
  border-radius: 6px;
}

.recommended-island {
  text-align: center;
  top: -11vw;
}

.landing-head-title {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.landing-subtitle {
  font-size: 16px;
  opacity: 80%;
  padding-bottom: 10px;
}

.brand-list-img {
  width: 22%;
}

.explore-landing-btn {
  width: 261px;
  height: 67px;
  border-color: #707070;
  border-radius: 6px;
  transition: 0.3s;
}

.explore-landing-btn:hover {
  color: white;
  background-color: #384170;
  opacity: 90%;
}

.new-item-div {
  background-image: url('https://res.cloudinary.com/partsku/image/upload/v1623237326/partsku/Rectangle_625_hygzyc.png');
  background-repeat: no-repeat;
  background-position-x: -20vw;
}

.new-item-island {
  text-align: center;
  height: 1127px;
  padding-top: 6vw;
}

.item-card {
  background-color: #F7F8FF;
}

.top-new-item {
  margin-bottom: 54px;
}

.left-item-card {
  width: 255px;
  height: 313px;
  border-radius: 11px;
  margin-right: 7px;
  box-shadow: -6px 6px 20px #2d2d2d2b;
}

.right-item-card {
  width: 540px;
  height: 680px;
  border-radius: 11px;
  box-shadow: -6px 6px 20px #2d2d2d2b;
}

.new-product-img-right {
  width: 471px;
  height: 461px;
}

.abt-us-island {
  text-align: center;
  height: 870px;
}

.abt-us-maintitle {
  font-size: 23px;
  font-weight: bold;
}

.abt-us-subtitle {
  font-size: 23px;
  opacity: 80%;
}

.abt-us-container {
  padding-top: 5vw;
}

.three-boxes {
  padding-bottom: 40px;
}

.about-us-txt {
  text-align: left;
}

/* login / register page */
.main-bg {
  padding-left: 0 !important;
  background-image: url('https://res.cloudinary.com/partsku/image/upload/c_scale/partsku/login-bg_rnbqjk.png');
  background-position: -222px;
  height: 50.45vw;
  background-color: grey;
}

.login-back-btn {
  cursor: pointer;
  padding: 20px;
  width: 50px;
}

.main-bg-img {
  width: 100%;
  padding-left: 0 !important;
}

.side-container-login {
  padding-top: 32%;
}

.side-container-register {
  padding-top: 22%;
}

.login-logo {
  padding-bottom: 5%;
}

.login-nav {
  margin-bottom: 2%;
  text-align: center;
}

.login-nav-btn {
  width: 126px;
  font-size: 24px;
  font-weight: bold;
  color:#73A1C2;
  margin: 0 38px;
  padding-bottom: 5px;
  cursor: pointer;
}

.active-login-nav-btn {
  cursor: default;
  color:#384170;
  border-bottom-style: solid;
  border-bottom-width: medium;
  border-bottom-color: #384170;
}

.href-register {
  color:#73A1C2;
}

.href-register:hover {
  color:#384170;
  text-decoration: none;
}

.email-group-container, .submit-btn-box {
  padding-top: 1.5%;
}

.pass-group-container {
  padding-top: 1.5%;
}

.input-name {
  height: 60px;
  width: 400px;
  padding-left: 15px;
  border-color: #384170;
  border-radius: 4px;
  margin-bottom: 1.5%;
}

.input-email, .input-pass, .submit-btn {
  height: 60px;
  width: 400px;
}

.input-email, .input-pass {
  padding-left: 15px;
  border-color: #384170;
  border-radius: 4px;
}

.pass-icon {
  padding: 0;
  z-index: 10;
  border: none;
  position: relative;
  background: 0 0;
}

.checkbox-register {
  margin-top: 1.5%;
}

.tnc-text {
  font-size: 16px;
  margin-top: 0.8%;
  padding-left: 5px;
}

.submit-btn {
  font-size: 20;
  color: white;
  background-color: #384170;
  border-radius: 4px;
}

.forgot-pass {
  padding-top: 1%;
}

