{{#if (eq @source 'new-item-left')}}
  <div class="col item-card left-item-card">
    <span class="new-product-left">
      <img src="https://res.cloudinary.com/partsku/image/upload/v1623229275/partsku/dummy-product_vfxcoy.png">
    </span>
    <div class="row item-card-info">
      <p class="col item-card-name">HKS Performance Header set</p>
      <span class="col item-card-price">Rp. 399k</span>
    </div>
  </div>
{{/if}}
{{#if (eq @source 'new-item-right')}}
  <div class="col item-card right-item-card">
    <span class="new-product-right">
      <img class="new-product-img-right" src="https://res.cloudinary.com/partsku/image/upload/v1623229275/partsku/dummy-product_vfxcoy.png">
    </span>
    <div class="row item-card-info">
      <p class="col item-card-name">HKS Performance Header set</p>
      <span class="col item-card-price">Rp. 399k</span>
    </div>
  </div>
{{/if}}
