<div class="header container-fluid">
  <div class="row top-header-console">
    <div class="col align-self-center">
      <span class="header-logo row justify-content-start">
        <a href="/">
          <img src="https://res.cloudinary.com/partsku/image/upload/v1622973318/partsku/Logo_nyz2hs.png" alt="">
        </a>
      </span>
    </div>
    <div class="col-8">

    </div>
    <div class="col align-self-center">
      <div class="header-user-console">
        <span class="col align-self-end">
          love
        </span>
        <span class="col align-self-end">
          cart
        </span>
        <span class="col align-self-end">
          user
        </span>
      </div>
    </div>
  </div>
  <span class="row header-seperator"></span>
  <div class="row bottom-header-console">
    <div class="col-8">

    </div>
    <div class="col consoles">
      Recommendation
    </div>
    <div class="col consoles">
      New Collection
    </div>
    <div class="col consoles">
      Trending
    </div>
    {{!-- </div> --}}
  </div>
</div>